<div class="container">
  <div class="register-form">
    <mat-toolbar>
      <span>Equipe empenhada - DRO</span>
    </mat-toolbar>

    <mat-form-field class="register-full-width">
      <mat-label>Data</mat-label>
      <input
        type="text"
        matInput
        placeholder="Data"
        [(ngModel)]="cast.scaleDate"
      />
    </mat-form-field>
    <mat-form-field class="register-full-width">
      <mat-label>Mat. do responsável</mat-label>

      <input
        type="text"
        matInput
        placeholder="Matrícula"
        [(ngModel)]="cast.registration"
      />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Nome do responsável</mat-label>
      <input
        type="text"
        matInput
        placeholder="Usuário"
        [(ngModel)]="cast.nameResponsible"
      />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Cargo</mat-label>
      <input
        type="text"
        matInput
        placeholder="Cargo"
        [(ngModel)]="cast.officeResponsible"
      />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Gerência</mat-label>
      <input
        type="text"
        matInput
        placeholder="Gerência"
        [(ngModel)]="cast.sector"
      />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Turno</mat-label>
      <input
        type="text"
        matInput
        placeholder="Turno"
        [(ngModel)]="cast.shift"
      />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Agentes sem restrição</mat-label>
      <input type="number" matInput [(ngModel)]="cast.withoutRestriction" />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Agentes com restrição</mat-label>
      <input type="number" matInput [(ngModel)]="cast.withRestriction" />
    </mat-form-field>
  </div>
</div>

<div class="buttons">
  <button
    class="buttonCustom"
    (click)="updateCast()"
    mat-button
    style="color: white"
  >
    Salvar
  </button>
  <button
    class="buttonCustom"
    (click)="report()"
    mat-button
    style="color: white"
  >
    Voltar
  </button>
</div>
