<div id="header-span">
  <mat-toolbar>RESPONSÁVEIS</mat-toolbar>
</div>

<div class="container-table">
  <div *ngIf="existData; else loading">
    <table mat-table [dataSource]="responsibles">
      <ng-container matColumnDef="id" >
        <th style="padding-right: 2px" mat-header-cell *matHeaderCellDef hidden="true">
          <strong>Id</strong>
        </th>

        <td style="padding-right: 2px" mat-cell *matCellDef="let responsible" hidden="true">
          <strong>{{ responsible.id }}</strong>
        </td>
      </ng-container>
      <ng-container matColumnDef="registration">
        <th style="padding-right: 2px" mat-header-cell *matHeaderCellDef>
          <strong>MAT.</strong>
        </th>

        <td style="padding-right: 2px" mat-cell *matCellDef="let responsible">
          <strong>{{ responsible.registration }}</strong>
        </td>
      </ng-container>

      <!-- Responsible-name -->
      <ng-container matColumnDef="responsible-name">
        <th style="padding-right: 2px" mat-header-cell *matHeaderCellDef>
          <strong>RESP.</strong>
        </th>
        <td style="padding-right: 2px" mat-cell *matCellDef="let responsible">
          {{ responsible.nameResponsible }}
        </td>
      </ng-container>

      <!-- Office -->
      <ng-container matColumnDef="office">
        <th style="padding-right: 2px" mat-header-cell *matHeaderCellDef>
          <strong>CARGO</strong>
        </th>
        <td style="padding-right: 2px" mat-cell *matCellDef="let responsible">
          {{ responsible.office }}
        </td>
      </ng-container>

      <!-- Sector -->
      <ng-container matColumnDef="sector">
        <th style="padding-right: 2px" mat-header-cell *matHeaderCellDef>
          <strong>GAR</strong>
        </th>
        <td style="padding-right: 2px" mat-cell *matCellDef="let responsible">
          {{ responsible.sector }}
        </td>
      </ng-container>

      <!-- Shift -->
      <ng-container matColumnDef="shift">
        <th style="padding-right: 2px" mat-header-cell *matHeaderCellDef>
          <strong>TURNO</strong>
        </th>
        <td style="padding-right: 2px" mat-cell *matCellDef="let responsible">
          {{ responsible.shift }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th style="padding-left: 30px;" mat-header-cell *matHeaderCellDef>
          <strong>AÇÕES</strong>
        </th>
        <td style="padding-left: 18px;" mat-cell *matCellDef="let cast">
          <div style="display: flex; justify-content: center;">

            <button (click)="goToUpdate(cast.id)" style="padding: 0px; border: none; background: none; text-align: center;">
              <span class="material-symbols-outlined span-width"> edit </span>
            </button>
            <button style="padding: 0px; border: none; background: none; text-align: center;">
              <span style="padding: 0px" class="material-symbols-outlined span-width"> delete </span>
            </button>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr
        style="background-color: rgb(38, 163, 221); color: white; height: 30px"
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
<div class="buttons-div">
  <div class="buttons">
    <button (click)="goToAdd()" id="buttonCustom" mat-button>Adicionar</button>
    <button (click)="backToHome()" id="buttonCustom" mat-button>Voltar</button>
  </div>
</div>

<ng-template #loading>
  <div id="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
