<div id="header-span">
  <span> RESPONSÁVEIS</span>
</div>

<div class="container-table">
  <div *ngIf="existData; else loading">
    <table mat-table [dataSource]="responsibles">
      <ng-container matColumnDef="registration">
        <th mat-header-cell *matHeaderCellDef>
          <strong>MAT.</strong>
        </th>

        <td mat-cell *matCellDef="let responsible">
          <strong>{{
            responsible.registration
          }}</strong>
        </td>
      </ng-container>

      <!-- Responsible-name -->
      <ng-container matColumnDef="responsible-name">
        <th mat-header-cell *matHeaderCellDef>
          <strong>RESP.</strong>
        </th>
        <td mat-cell *matCellDef="let responsible">
          {{ responsible.nameResponsible }}
        </td>
      </ng-container>

      <!-- Office -->
      <ng-container matColumnDef="office">
        <th mat-header-cell *matHeaderCellDef>
          <strong>CARGO</strong>
        </th>
        <td mat-cell *matCellDef="let responsible">
          {{ responsible.office }}
        </td>
      </ng-container>

      <!-- Sector -->
      <ng-container matColumnDef="sector">
        <th mat-header-cell *matHeaderCellDef>
          <strong>GAR</strong>
        </th>
        <td mat-cell *matCellDef="let responsible">
          {{ responsible.sector }}
        </td>
      </ng-container>

      <!-- Shift -->
      <ng-container matColumnDef="shift">
        <th mat-header-cell *matHeaderCellDef>
          <strong>TURNO</strong>
        </th>
        <td mat-cell *matCellDef="let responsible">
          {{ responsible.shift }}
        </td>
      </ng-container>

      <tr
        style="background-color: rgb(38, 163, 221); color: white; height: 30px"
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
<div class="buttons-div">
  <div class="buttons">
    <button (click)="goToAdd()" id="buttonCustom" mat-button>Adicionar</button>
    <button (click)="backToHome()" id="buttonCustom" mat-button>Voltar</button>
  </div>
</div>

<ng-template #loading>
  <div id="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
