.container {
  display: flex;
  justify-content: center;
}

table {
  min-width: 500px;
  max-width: 500px;
  width: 100%;
}

tr.mat-mdc-footer-row td {
  font-weight: 500;
}

strong {
  font-weight: 500;
}

span {
  display: flex;
  justify-content: center;
  min-width: 500px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  background-color: rgb(38, 163, 221);
  color: white;
  font-size: 1em;
  font-weight: 500;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid white;
  margin-top: 10px;
}

#buttonCustom {
  background: rgb(38, 163, 221);
  color: white;
  width: 100%;
  margin: auto;
  margin-top: 12px;
  min-width: 500px;
  max-width: 500px;
  width: 100%;
}
