@media screen and (mix-width: 0px) and (max-width: 800px) {
  #container,
  span, .buttons {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  #container,
  span, .buttons {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1000px) and (max-width: 2000px) {
  #container,
  span, .buttons {
    width: 40%;
    margin: 0 auto;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

tr.mat-mdc-footer-row td {
  font-weight: 500;
}

strong {
  font-weight: 500;
}

span {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: rgb(38, 163, 221);
  color: white;
  font-size: 1em;
  font-weight: 500;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid white;
  margin-top: 10px;
}

#buttonCustom {
  background: rgb(38, 163, 221);
  color: white;
  margin-top: 10px;
  border-bottom: 1px solid white;
  height: 30px;
  width: 49%;
}

#loading-spinner {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
}
