<span> RESPONSÁVEIS</span>

<div id="container">
  <div *ngIf="existData; else loading">
    <!-- Registration Column -->

    <table
      mat-table
      [dataSource]="responsibles"
    >
      <ng-container matColumnDef="registration">
        <th mat-header-cell *matHeaderCellDef>
          <strong style="font-size: xx-small;">MAT.</strong>
        </th>

        <td mat-cell *matCellDef="let responsible">
          <strong style="font-size: xx-small;">{{
            responsible.registration
          }}</strong>
        </td>
      </ng-container>

      <!-- Responsible-name -->
      <ng-container matColumnDef="responsible-name">
        <th mat-header-cell *matHeaderCellDef>
          <strong style="font-size: xx-small">RESP.</strong>
        </th>
        <td mat-cell *matCellDef="let responsible" style="font-size: xx-small">
          {{ responsible.nameResponsible }}
        </td>
      </ng-container>

      <!-- Office -->
      <ng-container matColumnDef="office">
        <th mat-header-cell *matHeaderCellDef>
          <strong style="font-size: xx-small; width: 90px;">CARGO</strong>
        </th>
        <td mat-cell *matCellDef="let responsible" style="font-size: xx-small">
          {{ responsible.office }}
        </td>
      </ng-container>

      <!-- Sector -->
      <ng-container matColumnDef="sector">
        <th mat-header-cell *matHeaderCellDef>
          <strong style="font-size: xx-small; width: 90px;">GAR</strong>
        </th>
        <td mat-cell *matCellDef="let responsible" style="font-size: xx-small">
          {{ responsible.sector }}
        </td>
      </ng-container>

      <!-- Shift -->
      <ng-container matColumnDef="shift">
        <th mat-header-cell *matHeaderCellDef>
          <strong style="font-size: xx-small; width: 90px;">TURNO</strong>
        </th>
        <td mat-cell *matCellDef="let responsible" style="font-size: xx-small">
          {{ responsible.shift }}
        </td>
      </ng-container>

      <tr
        style="background-color: rgb(38, 163, 221); color: white; height: 30px"
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
<div id="container">
  <div class="buttons" style="padding: 10px 0px 0px 0px">
    <button (click)="goToAdd()" id="button-custom" mat-button>Adicionar</button>
    <button (click)="backToHome()" id="button-custom" mat-button>Voltar</button>
  </div>

  <ng-template #loading>
    <div id="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
