<div class="container">
<span class="home-form">
    <p>
      <mat-toolbar class="montserrat">
        <span>Olá, {{nameUser}}</span>
      </mat-toolbar>
    </p>
    <form [formGroup]="listCastReportForm">
    <mat-expansion-panel hideToggle class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-description >
          Consultar equipe do dia
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="home-full-width">
        <mat-label>Informe a data</mat-label>
        <input type="text" matInput placeholder="Data" formControlName="castDate"  mask="{{maskDate}}"/>
      </mat-form-field>

      <mat-form-field class="home-full-width">
        <mat-label>Selecione o turno</mat-label>
        <mat-select formControlName="shift" [value]="">
          <mat-option value="Manhã">Manhã</mat-option>
          <mat-option value="Tarde">Tarde</mat-option>
          <mat-option value="Madrugada">Madrugada</mat-option>
        </mat-select>
      </mat-form-field>
      <p>
        <button id="button-white" mat-button (click)="castReport()">
          Equipe empenhada
        </button>
      </p>
    </mat-expansion-panel>
  </form>
  <form [formGroup]="listCastRegisterForm">
    <mat-expansion-panel hideToggle class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-description >
          Adicionar equipe do dia
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="home-full-width">
        <mat-label>Informe a matrícula</mat-label>
        <input type="text" matInput placeholder="Matrícula" formControlName="registrationResponsible"/>
      </mat-form-field>

       <p>
        <button id="button-white" type="submit" mat-button (click)="castRegister()">
          Ok
        </button>
      </p>
    </mat-expansion-panel>
  </form>

    @if(role === 'adm'){
      <p>
        <button id="buttonCustom" (click)="responsibleList()" mat-button>
          Responsáveis
        </button>
      </p>
      <p>
        <button id="buttonCustom" (click)="userList()" mat-button>
          Usuários
        </button>
      </p>
    }
  </span>
</div>
