.login-form {
  min-width: 100px;
  max-width: 350px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#buttonCustom{
  background: rgb(38, 163, 221);
  color: white;
  width: 100%;
}

mat-toolbar {
  background-color: rgb(38, 163, 221);
  color: white;
}

p{
  display: flex;
  justify-content: center;
}
