.container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

table {
  min-width: 200px;
  max-width: 350px;
  width: 100%;
}

tr.mat-mdc-footer-row td {
  font-weight: 500;
}

mat-toolbar {
  min-width: 200px;
  max-width: 370px;
  width: 100%;
}

strong{
  font-weight: 500;
}

#buttonCustom {
  background: rgb(38, 163, 221);
  color: white;
  width: 100%;
  margin: auto;
  min-width: 200px;
  max-width: 350px;
  width: 100%;
  border-bottom: 1px solid white;
}
