@media screen and (mix-width: 0px) and (max-width: 600px) {
  * #container, span {
   width: 90%;
   }
 }

 @media (min-width: 600px) and (max-width: 1000px) {
  * #container, strong, td, #buttons-custom {
     width: 70%;
     margin: 0 auto;
     font-size: 1em !important;
   }
 }

 @media (min-width: 1000px) and (max-width: 2000px) {
   * #container, strong, td {
     width: 40% !important;
     margin: 0 auto;
     font-size: 1em !important;
   }
 }

#container {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

tr.mat-mdc-footer-row td {
  font-weight: 500;
}

strong{
  font-weight: 500;
}

span {
  display: flex;
  justify-content: center;
  background-color: rgb(38, 163, 221);
  color: white;
  font-size: 1em;
  font-weight: 500;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid white;
  width: 100%;
  margin-right: 10px;
}

#buttonCustom {
  background: rgb(38, 163, 221);
  color: white;
  margin-top: 10px;
  border-bottom: 1px solid white;
  height: 30px;
  width: 49%;
}

#loading-spinner {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
}

