.container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

table {
  min-width: 200px;
  max-width: 350px;
  width: 100%;
}

tr.mat-mdc-footer-row td {
  font-weight: 500;
}

mat-toolbar {
  min-width: 200px;
  max-width: 370px;
  width: 100%;
}

strong{
  font-weight: 500;
}
