<div id="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-toolbar>
        <span>Equipe empenhada DRO</span>
      </mat-toolbar>
    </p>
    <mat-form-field class="login-full-width">
      <mat-label>Usuário</mat-label>
      <input type="text" matInput placeholder="Usuário" formControlName="registration" />
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="Senha" formControlName="password"/>
    </mat-form-field>
    <p>
      <button id="buttonCustom" type="submit" mat-button >
        Entrar
      </button>
    </p>
  </form>
</div>
