<div id="container" style="padding: 50px 10px 0px 10px;">
  <div>
    <p>
      <mat-toolbar>
        <span>Equipe empenhada DRO</span>
      </mat-toolbar>
    </p>
    <mat-form-field class="login-full-width">
      <mat-label>Usuário</mat-label>
      <input type="text" matInput placeholder="Usuário" [(ngModel)]="registrationField"/>
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="Senha" [(ngModel)]="passwordField"/>
    </mat-form-field>
    <p>
      <button id="buttonCustom" (click)="onSubmit(registrationField, passwordField)" mat-button >
        Entrar
      </button>
    </p>
  </div>
</div>
