@media screen and (mix-width: 0px) and (max-width: 800px) {
  #container {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  #container  {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1000px) and (max-width: 2000px) {
  #container  {
    width: 40%;
    margin: 0 auto;
  }
}

.login-full-width {
  width: 100%;
}

#container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#buttonCustom{
  background: rgb(38, 163, 221);
  color: white;
  width: 100%;
}

mat-toolbar {
  background-color: rgb(38, 163, 221);
  color: white;
}
