<div class="container">
  <form class="register-form" [formGroup]="formCastRegister">
    <mat-toolbar>
      <span>Equipe empenhada - DRO</span>
    </mat-toolbar>

    <mat-form-field class="register-full-width">
      <mat-label>Data</mat-label>
      <input
        type="text"
        matInput
        placeholder="Data"
        formControlName="castDate"
      />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Mat. do responsável</mat-label>
      <input
        type="text"
        matInput
        placeholder="Matrícula"
        formControlName="registrationResponsible"
        readonly
      />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Nome do responsável</mat-label>
      <input
        type="text"
        matInput
        placeholder="Usuário"
        formControlName="nameResponsible"
        readonly
      />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Cargo</mat-label>
      <input
        type="text"
        matInput
        placeholder="Cargo"
        formControlName="officeResponsible"
        readonly
      />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Gerência</mat-label>
      <input
        type="text"
        matInput
        placeholder="Gerência"
        formControlName="sectorResponsible"
        readonly
      />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Turno</mat-label>
      <input
        type="text"
        matInput
        placeholder="Turno"
        formControlName="shiftResponsible"
        readonly
      />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Agentes sem restrição</mat-label>
      <input type="number" matInput formControlName="withoutRestriction" />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Agentes com restrição</mat-label>
      <input type="number" matInput formControlName="withRestriction" />
    </mat-form-field>
  </form>
</div>

<div class="buttons">
  <button id="buttonCustom" (click)="newCast()" mat-button>Salvar</button>
  <button id="buttonCustom" (click)="report()" mat-button>Sair</button>
</div>
