<div class="container">
  <form class="register-form">
    <p>
      <mat-toolbar>
        <span>Equipe empenhada - DRO</span>
      </mat-toolbar>
    </p>

    <mat-form-field class="register-full-width">
      <mat-label>Mat. do responsável</mat-label>
      <input type="number" matInput placeholder="Matrícula" />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Nome do responsável</mat-label>
      <input type="number" matInput placeholder="Usuário" />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Cargo</mat-label>
      <mat-select>
        @for (office of offices; track office) {
          <mat-option [value]="office">{{office}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Gerência</mat-label>
      <mat-select>
        @for (sector of sectors; track sector) {
          <mat-option [value]="sector">{{sector}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Turno</mat-label>
      <mat-select>
        @for (shift of shifts; track shift) {
          <mat-option [value]="shift">{{shift}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Agentes sem restrição</mat-label>
      <input type="number" matInput />
    </mat-form-field>

    <mat-form-field class="register-full-width">
      <mat-label>Agentes com restrição</mat-label>
      <input type="number" matInput />
    </mat-form-field>

    <p>
    <button mat-raised-button color="primary">Salvar</button>
    <button (click)="report()" mat-raised-button style="background-color: teal; color: white">Consultar</button>
    <button (click)="close()" mat-raised-button style="background-color: rgb(128, 0, 53); color: white">Sair</button>

  </p>
  </form>
</div>
