<div class="container">
  <form class="responsible-form">
    <p>
      <mat-toolbar>
        <span>Responsáveis</span>
      </mat-toolbar>
    </p>

    <mat-form-field class="responsible-full-width">
      <mat-label>Mat. do responsável</mat-label>
      <input type="text" matInput placeholder="Matrícula" />
    </mat-form-field>

    <mat-form-field class="responsible-full-width">
      <mat-label>Nome do responsável</mat-label>
      <input type="text" matInput placeholder="Nome do responsável" />
    </mat-form-field>

    <mat-form-field class="responsible-full-width">
      <mat-label>Cargo</mat-label>
      <mat-select>
        @for (office of offices; track office) {
          <mat-option [value]="office">{{office}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="responsible-full-width">
      <mat-label>Gerência</mat-label>
      <mat-select>
        @for (sector of sectors; track sector) {
          <mat-option [value]="sector">{{sector}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="responsible-full-width">
      <mat-label>Turno</mat-label>
      <mat-select>
        @for (shift of shifts; track shift) {
          <mat-option [value]="shift">{{shift}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <p>
    <button (click)="addResponsible()" mat-button style="background-color: rgb(38, 163, 221); color: white; width: 49%;">Salvar</button>
    <button (click)="backToHome()" mat-button style="background-color: rgb(38, 163, 221); color: white; width: 49%;">Voltar</button>

  </p>
  </form>
</div>
