<div class="container" >
  <form class="sector-form mat-elevation-z8">
    <p>
      <mat-toolbar>
        <span>Gerência</span>
      </mat-toolbar>
    </p>

    <mat-form-field class="sector-full-width">
      <mat-label>Gerência</mat-label>
      <input type="text" matInput placeholder="Gerência" />
    </mat-form-field>


    <p>
    <button mat-raised-button color="primary">Salvar</button>
    <button (click)="sectorList()" mat-raised-button style="background-color: teal; color: white">Consultar</button>
    <button mat-raised-button style="background-color: rgb(128, 0, 53); color: white">Sair</button>

  </p>
  </form>
</div>
