.sector-form {
  min-width: 100px;
  max-width: 350px;
  width: 100%;
}

.sector-full-width {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

mat-toolbar {

  background-color: rgb(38, 163, 221);
  color: white;
}

mat-form-field {
  height: 75px;
  font-size: small;
  margin-bottom: -10px;
}

mat-label {
  font-size: small;
}

p {
  display: flex;
  justify-content: space-around;
  button {
    width: 105px;

  }
}
span {
  margin: auto;
}
